/* Footer */
.footer {
    background-color: map-get($colores, secundario);
    background-image: map-get($colores, gradiente-navbar);

    .mi-logo--footer {
        @extend .mi-logo;
        width: 110px;        
    }

    &__info h5 {
        font: $fuente-acento-footer;
    }

    &__info ul li a:hover {
        color: map-get($colores, negro);
        text-decoration: underline;
    }

}