//Home

#body {
    background-color: red;
}

// //page1 nosotros

// #base__pg01 {
//     background-color: map-get($colores, primario);
//     background-image: map-get($colores, gradiente-body);

//     @import 'header';

//     @import 'secciones';

//     @import 'footer';

// }

// //page2 productos

// #base__pg02 {
//     background-color: map-get($colores, primario);
//     background-image: map-get($colores, gradiente-body);

//     @import 'header';

//     @import 'secciones';

//     @import 'footer';

// }

// // page 3 servicios

// #base__pg03 {
//     background-color: map-get($colores, primario);
//     background-image: map-get($colores, gradiente-body);

//     @import 'header';

//     @import 'secciones';

//     @import 'footer';

// }

// // page 4 contacto

// #base__pg04 {
//     background-color: map-get($colores, primario);
//     background-image: map-get($colores, gradiente-body);

//     @import 'header';

//     @import 'secciones';

//     @import 'footer';

// }