* {
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Parisienne', cursive;
    box-sizing: border-box;
}

// importaciones

@import 'variables';
@import 'footer';
@import 'header';